/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}


.board {
  width: 800px;
  height: 600px;
  background-image: url('deepfield.jpg');
  margin-top: 10px;
}

.asteroid {
  transform-origin: 50% 50%;
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.enemySelect {
  height: 20px;
  opacity: 0.5;
}

.enemySelect:hover {
  opacity: 1;
}

.selected {
  opacity: 1;
}

.button {
  background-color:#44c767;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
  background-color:#5cbf2a;
}
.button:active {
  position:relative;
  top:1px;
}

.addAsteroids {
  color: 'green';
}

.removeAsteroids {
  color: 'red';
}

.scoreboard {
  padding: 5px
  display: inline;
}

.highscore .current .collisions {
  display : float;
}





